## Project Programming for Data Analytics 2018

**Problem Statement**

For this project you must create a data set by simulating a real-world phenomenon of
your choosing. You may pick any phenomenon you wish – you might pick one that is
of interest to you in your personal or professional life. 

Then, rather than collect data related to the phenomenon, you should model and synthesise such data using Python.
We suggest you use the numpy.random package for this purpose.

Specifically, in this project you should:
* Choose a real-world phenomenon that can be measured and for which you could
collect at least one-hundred data points across at least four different variables.
* Investigate the types of variables involved, their likely distributions, and their
relationships with each other.
* Synthesise/simulate a data set as closely matching their properties as possible.
* Detail your research and implement the simulation in a Jupyter notebook – the
data set itself can simply be displayed in an output cell within the notebook.

*Note students may already have some real-world data sets in their own files. It is okay to
base your synthesised data set on these should you wish (please reference it if you do),
but the main task in this project is to create a synthesised data set.*

import matplotlib.pyplot as plt

In [1]:
import numpy as np

building a student dataset to look at vaiables that might influence progression as reported by HEA[1]

In [11]:
import pandas as pd

In [88]:
M_F =np.random.choice (['male', 'female'], 100, p =[0.48,0.52])
M_F

array(['male', 'male', 'female', 'female', 'male', 'male', 'female',
       'female', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'female',
       'female', 'male', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'female', 'male', 'male', 'male', 'female',
       'female', 'male', 'female', 'female', 'male', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male'],
      dtype='<U6')

In [50]:
full_part = np.random.choice (['full time', 'part time'], 100, p =[0.8,0.2])
full_part

array(['part time', 'part time', 'full time', 'full time', 'full time',
       'part time', 'full time', 'full time', 'full time', 'full time',
       'part time', 'full time', 'full time', 'full time', 'part time',
       'part time', 'full time', 'part time', 'full time', 'part time',
       'full time', 'full time', 'full time', 'full time', 'full time',
       'full time', 'full time', 'full time', 'full time', 'full time',
       'full time', 'part time', 'full time', 'part time', 'full time',
       'full time', 'full time', 'full time', 'full time', 'full time',
       'full time', 'part time', 'full time', 'part time', 'full time',
       'full time', 'full time', 'part time', 'full time', 'full time',
       'full time', 'part time', 'full time', 'full time', 'full time',
       'full time', 'part time', 'full time', 'part time', 'full time',
       'part time', 'full time', 'part time', 'full time', 'full time',
       'full time', 'part time', 'full time', 'full time', 'full time',
       'full time', 'full time', 'part time', 'part time', 'full time',
       'full time', 'full time', 'part time', 'full time', 'part time',
       'full time', 'full time', 'part time', 'part time', 'full time',
       'full time', 'full time', 'full time', 'full time', 'full time',
       'full time', 'full time', 'full time', 'part time', 'full time',
       'full time', 'part time', 'full time', 'full time', 'part time'],
      dtype='<U9')

In [181]:
pref =[]
for i in range (1,101):
   # pref = (print(int(13**np.random.random())))
    p = (int(13**np.random.random()))
    pref.append(p)
    ## assume preference follows benfords law
print (pref)
print(i)

[4, 9, 8, 2, 2, 5, 7, 6, 9, 2, 9, 3, 10, 4, 6, 1, 1, 6, 3, 1, 4, 5, 11, 1, 1, 11, 6, 10, 6, 5, 2, 6, 5, 1, 5, 1, 7, 1, 3, 10, 3, 6, 10, 4, 4, 5, 6, 10, 5, 1, 1, 1, 1, 4, 1, 1, 7, 10, 1, 10, 1, 3, 1, 1, 2, 4, 1, 1, 4, 11, 5, 1, 2, 7, 10, 4, 1, 4, 2, 10, 6, 10, 4, 9, 1, 2, 1, 6, 4, 2, 1, 1, 10, 3, 9, 6, 7, 6, 12, 12]
100

In [71]:
cao = np.random.randint(250, 350, size=100)
cao
# cao pts

array([304, 348, 250, 314, 276, 274, 283, 330, 268, 320, 307, 282, 295,
       250, 297, 270, 329, 346, 263, 265, 299, 302, 311, 292, 267, 257,
       285, 291, 277, 285, 264, 311, 286, 279, 294, 289, 325, 328, 324,
       271, 293, 254, 278, 284, 267, 298, 349, 282, 295, 272, 335, 308,
       349, 292, 311, 309, 310, 258, 252, 319, 319, 289, 287, 264, 270,
       303, 347, 315, 281, 321, 338, 300, 322, 254, 251, 349, 336, 313,
       331, 306, 306, 299, 284, 343, 346, 339, 286, 275, 330, 337, 340,
       347, 344, 306, 343, 321, 347, 319, 254, 303])

In [184]:
df = pd.DataFrame ()
df ["full_part"] = full_part
df ["pref"] = pref
df ["CAO"] = cao
df ["Male_Female"] = M_F
#df ["list"] = (int(13**np.random.random()))

In [185]:
df

    full_part  pref  CAO Male_Female
0   part time     4  304        male
1   part time     9  348        male
2   full time     8  250      female
3   full time     2  314      female
4   full time     2  276        male
5   part time     5  274        male
6   full time     7  283      female
7   full time     6  330      female
8   full time     9  268        male
9   full time     2  320      female
10  part time     9  307      female
11  full time     3  282      female
12  full time    10  295        male
13  full time     4  250        male
14  part time     6  297      female
15  part time     1  270      female
16  full time     1  329        male
17  part time     6  346        male
18  full time     3  263      female
19  part time     1  265        male
20  full time     4  299        male
21  full time     5  302      female
22  full time    11  311        male
23  full time     1  292      female
24  full time     1  267      female
25  full time    11  257        male
26  full time     6  285      female
27  full time    10  291      female
28  full time     6  277      female
29  full time     5  285      female
..        ...   ...  ...         ...
70  full time     5  338        male
71  full time     1  300        male
72  part time     2  322        male
73  part time     7  254      female
74  full time    10  251        male
75  full time     4  349        male
76  full time     1  336        male
77  part time     4  313      female
78  full time     2  331      female
79  part time    10  306        male
80  full time     6  306      female
81  full time    10  299      female
82  part time     4  284        male
83  part time     9  343        male
84  full time     1  346      female
85  full time     2  339        male
86  full time     1  286        male
87  full time     6  275      female
88  full time     4  330      female
89  full time     2  337        male
90  full time     1  340        male
91  full time     1  347      female
92  full time    10  344        male
93  part time     3  306      female
94  full time     9  343        male
95  full time     6  321      female
96  part time     7  347        male
97  full time     6  319        male
98  full time    12  254        male
99  part time    12  303        male

[100 rows x 4 columns]

## references

[HEA](http://hea.ie/)

https://en.wikipedia.org/wiki/Benford%27s_law

https://cmdlinetips.com/2018/01/how-to-create-pandas-dataframe-from-multiple-lists/